<!-- Button -->
<table border="0" cellspacing="0" cellpadding="0" width="100%">
  <tr>
    <td align="center">
      <table border="0" cellspacing="0" cellpadding="0" class="button-table">
        <tr>
          <td align="center">
            <a style="background-color: #ed4c06; border-top: 8px solid #ed4c06; border-right: 16px solid #ed4c06; border-bottom: 8px solid #ed4c06; border-left: 16px solid #ed4c06; display: block; color: #ffffff; font-family: 'Source Sans Pro',Helvetica, Arial, sans-serif; font-size: 18px; font-weight: normal; line-height: 24px; text-decoration: none; border-radius: 5px;" href="https://octiv.com" target="_blank">Get started</a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!-- /Button -->
