<!-- Button -->
<table border="0" cellspacing="0" cellpadding="0" width="100%" style="margin-bottom: 1rem;">
  <tr>
    <td align="center">
      <table border="0" cellspacing="0" cellpadding="0" class="button-table">
        <tr>
          <td align="@@align">
            <a class="email-button" style="background-color: @@color; border-top: 8px solid @@color; border-right: 16px solid @@color; border-bottom: 8px solid @@color; border-left: 16px solid @@color; display: block; color: #ffffff; font-family: 'Source Sans Pro',Helvetica, Arial, sans-serif; font-size: 18px; font-weight: normal; line-height: 24px; text-decoration: none; border-radius: 5px;" href="@@location" target="_blank">@@text</a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!-- /Button -->
