<!-- Section title centre -->
<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td style="padding: 36px 0;" bgcolor="@@bg-color" align="center">
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td align="center">
            <table class="content-table" align="center" border="0" cellpadding="0" cellspacing="0" width="600">
              <tr>
                <td style="padding: 0 16px 0 16px;" align="center" valign="top">
                  <!-- content -->
                  <table border="0" cellpadding="0" cellspacing="0" width="100%" class="callout">
                    <tr>
                      <td align="center" style="color: @@text-color; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; text-align: center;">
                        <h4>@@heading</h4>
                        <p style="padding: 0 36px;">@@text</p>
                        @@include('misc/_button-@@button-style.html', {
                          "text" : "@@button-text",
                          "color" : "@@button-color",
                          "location" : "https://octiv.com"
                        })
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!-- /Section title centre -->
