<!-- footer -->
<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td style="padding: 32px 0 0 0;" align="center">
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td align="center">
            <table class="content-table" align="center" border="0" cellpadding="0" cellspacing="0" width="600">
              <tr>
                <td style="padding: 0;" align="center" valign="top">
                  <!-- Two column -->
                  <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                      <td>
                        <!-- content left -->
                        <table class="content-table" border="0" cellpadding="0" cellspacing="0" width="48%" align="left">
                          <tr>
                            <td class="center-mobile" style="font-size: 0.75em; color: #5F6369; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-weight: normal;" align="left">
                              <p><strong>Octiv</strong><br>54 Monument Circle, Suite 200<br>Indianapolis, IN 46240<br>317.550.0148</p>
                            </td>
                          </tr>
                        </table>
                        <!-- /content left -->
                        <!-- content right -->
                        <table class="content-table" border="0" cellpadding="0" cellspacing="0" width="48%" align="right">
                          <tr>
                            <td class="center-mobile" style="font-size: 0.75em; color: #5f6369; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-weight: normal;" align="right">
                              <p>© 2017 Octiv. All rights reserved.<br><a href="#" style="color: #5f6369; font-weight: normal;">View Online</a><br><a href="#" style="color: #5f6369; font-weight: normal;">Update Subscription Preferences</a><br><a href="#" style="color: #5f6369; font-weight: normal;">Unsubscribe</a></p>
                            </td>
                          </tr>
                        </table>
                        <!-- /content right -->
                      </td>
                    </tr>
                  </table>
                  <!-- /Two column -->
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!-- /footer -->
