<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700" rel="stylesheet" type="text/css" />

<!-- Marketo Variables -->
  <meta class="mktoString" id="email-title" mktoname="Email Title" default="Octiv Powers Documents" />
  <meta class="mktoString" id="email-type" mktoname="Email Type" default="Email Type" />
  <meta class="mktoImg" id="hero-image" mktoname="Hero Image URL" default="https://unsplash.it/700/466" />
  <meta class="mktoString" id="preheader-text" mktoname="PreHeader Text" default="Octiv Powers Documents" />
  <meta class="mktoString" id="hero-title" mktoname="Hero Title" default="SaaS Buyer Journey Timeline" />
  <meta class="mktoString" id="hero-subtitle" mktoname="Hero Subtitle" default="Together with Forrester, Octiv has mapped its own buyer journey." />
  <meta class="mktoString" id="salutation-text" mktoname="Salutation Text" default="{{Lead.First Name}}" />
  <meta class="mktoString" id="basic-paragraph-text" mktoname="Basic Paragraph Text" mktomodulescope="true" default="Thank you for downloading our whitepaper!" />
  <meta class="mktoString" id="button-text" mktoname="Button Text" mktomodulescope="true" default="Download It Now!" />
  <meta class="mktoString" id="button-link" mktoname="Button Link" mktomodulescope="true" default="https://octiv.com" />
  <meta class="mktoString" id="primary-button-text" mktoname="Primary Button Text" mktomodulescope="true" default="Download It Now!" />
  <meta class="mktoString" id="primary-button-link" mktoname="Primary Button Link" mktomodulescope="true" default="https://octiv.com" />
  <meta class="mktoString" id="secondary-button-text" mktoname="Secondary Button Text" mktomodulescope="true" default="Download It Now!" />
  <meta class="mktoString" id="secondary-button-link" mktoname="Secondary Button Link" mktomodulescope="true" default="https://octiv.com" />
  <meta class="mktoString" id="callout-title" mktoname="Callout Title" mktomodulescope="true" default="Callout Title" />
  <meta class="mktoString" id="callout-text" mktoname="Callout Text" mktomodulescope="true" default="Callout Text" />
  <meta class="mktoString" id="basic-image-link" mktoname="Basic Image Link" mktomodulescope="true" default="#0" />
  <meta class="mktoString" id="basic-image" mktoname="Basic Image" mktomodulescope="true" default="https://unsplash.it/600/200" />
  <meta class="mktoString" id="closing-text" mktoname="Closing Text" mktomodulescope="true" default="Regards" />
  <meta class="mktoString" id="closing-name" mktoname="Closing Name" mktomodulescope="true" default="Daniel Bell" />
  <meta class="mktoString" id="closing-title" mktoname="Closing Title" mktomodulescope="true" default="Interactive Designer" />
<!-- /Marketo Variables -->

<!-- Other Meta -->
  <meta http-equiv="Content-Type" content="text/html;" charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<!-- /Other Meta -->

<title>${email-title}</title>
