<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tbody>
    <tr>
      <td>
        <table class="content-table" border="0" cellpadding="0" cellspacing="0" width="63%" align="left">
          <tbody>
            <tr>
              <td>asdfsadf</td>
            </tr>
          </tbody>
        </table>
        <table class="content-table" border="0" cellpadding="0" cellspacing="0" width="32%" align="right">
          <tbody>
            <tr>
              <td><img src="http://placecage.com/200/200" alt=""></td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>